- name: Create data directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ playbook_dir }}/../data"
    - "{{ playbook_dir }}/../data/postgres"
    - "{{ playbook_dir }}/../data/redis"
    - "{{ playbook_dir }}/../data/superset"
    - "{{ playbook_dir }}/../data/airflow"

- name: Compose up
  command: docker compose -f {{ playbook_dir }}/../docker-compose.yml up -d
  args:
    chdir: "{{ playbook_dir }}/.."
